body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f3f4f6; /* Tailwind: bg-gray-100 */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}

input,
button {
  outline: none;
}
